/server-node/
/server-go-ai/
/server/
/cloud-clip/uploads/
/cloud-clip/config.json
/cloud-clip/history.json
/cloud-clip/mobile/*.aar
/cloud-clip/mobile/*.jar
/android/.idea/
/android/.gradle/
.vscode/
cloudflare/workers/.wrangler
cloudflare/workers/node_modules
cloudflare/pages/server*
.kotlin/
*.keystore
clipboard-monitor
clipboard-monitor/src-tauri/target/